@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		@*default method for form is Post*@
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			@*da 7al enii 25od mail w token bs m4 27san 7aga*@
@*			<input type="hidden" asp-for="Email" />	
			<input type="hidden" asp-for="token" />	 *@

	
			<input type="submit" value="Reset password">
		</form>
	
	</div>
</div>

@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
	@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
}

